<template>
  <v-dialog
    v-model="dialog"
    @click:outside="closeAgreement"
    @keydown.esc="closeAgreement"
  >
<div>
<v-card outlined class='agreement-card'>
  <div class="agreement-wrap">
    <h3 class="text-center">Шартнома №_{{contractNumber}}</h3>
    <div class="indent-text">
      Устав асосида фаолият олиб борувчи “Inoyatov HR service” масъулияти чекланган жамияти, кейинги ўринларда “Ижрочи” деб аталади, бир тарафдан ва фуқаро <b>{{customer.fullName}}</b>, кейинги ўринларда “Буюртмачи” деб аталади, иккинчи тарафдан, биргаликда томонлар деб аталувчилар мазкур шартномани қуйидагилар ҳақида туздилар:
    </div>
    <h3 class="text-center">1. Шартнома предмети</h3>
    <div class="indent-text">
      1.1. Ушбу шартнома орқали “Ижрочи” (реклама тарқатувчи) “Буютмачи” (Реклама берувчи) томонидан тақдим этилган реклама маҳсулотларини шартноманинг ажралмас қисми ҳисобланган 1-жадвалда келтирилган ва “Буютмачи”нинг www.uchamiz.uz веб-сайтидаги танловидан келиб чиққан ҳолда реклама воситаларига жойлаштириш, “Буюртмачи” эса ушбу кўрсатилган хизматлар учун “Ижрочи”га ҳақ тўлашни зиммасига олади.
    </div>
    <!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
    <div class="table-wrap">
      <table class="GeneratedTable">
        <thead>
        <tr>
          <th>№</th>
          <th>Реклама воситаси номи</th>
          <th>Пакет номи</th>
          <th>Муддати</th>
          <th>Нархи (ҚҚС билан бирга)</th>
          <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in selectedAdvForms" :key='index'>
          <td>{{index + 1}}</td>
          <td>{{item.type}}</td>
          <td>{{item.name}}</td>
          <td>{{$moment(customer.fromDate).format('DD.MM.YYYY')}} - {{$moment(customer.fromDate).add(item.days, 'days').format('DD.MM.YYYY')}}</td>
          <td>{{item.price}} Сўм</td>
          <td>{{item.price}} Сўм</td>
        </tr>
        <tr>
          <td colspan="5"><b>Жами:</b></td>
          <td>{{totalPrice}} Сўм</td>
        </tr>
        </tbody>
      </table>
      <!-- Codes by Quackit.com -->
    </div>

    <div v-if='customer.additionalRequirement' class="indent-text">
      <b>Қўшимча талаблар: </b>
      {{customer.additionalRequirement}}
    </div>

    <div class="indent-text">
      1.2. Мазкур шартноманинг 1.1-бандида назарда тутилган “Ижрочи”га тўланиши лозим бўлган ҳақ <b>{{totalPrice}}</b> сўмни ташкил этади ва “Буютмачи” (Реклама берувчи) мазкур шартнома имзоланганидан сўнг ушбу ҳақни тўлиқ қисмини тўлаб беради.
    </div>

    <div class="indent-text">
      1.3. Шартнома бўйича тўловлар амалга оширилгандан кейин (СКнинг 47-моддаси ва 14.08.2020 йилдаги 489-сон ВМҚга мувофиқ) Ҳисобварақ-фактура электрон шаклда расмийлаштирилади ва Буюртмачи ҳисобварақ-фактурани тақдим этилган кундан эътиборан 10 кун ичида тасдиқлаши ёки сабабини кўрсатган ҳолда рад этиши мумкин.
    </div>

    <h3 class="text-center">3. Тарафларнинг жавобгарлиги</h3>
    <div class="indent-text">
      3.1. “Буюртмачи” шартнома шартлари асосан “Ижрочи”га кўрсатиладиган хизматлари учун ҳақни тўлиқ қоплаб бериш мажбуриятини зиммасига олади.
    </div>

    <div class="indent-text">
      3.2. “Ижрочи” мазкур шартнома юзасидан мажбуриятларини бажармаслиги оқибатида “Буюртмачи” томонидан тўлов қилинган суммани тўлиқ ва ушбу сумманинг 0,001 фоизи миқдоридаги суммани жарима сифатида қоплаб беради
    </div>

    <div class="indent-text">
      3.3. Агар “Ижрочи” мазкур шартнома юзасидан мажбуриятларини қисман бажарса, мажбуриятнинг бажарилмаган кисмини кайтаради ва кайтарилган сумманинг 0,001 фоизи миқдоридаги суммани жарима сифатида қоплаб беради
    </div>
    <div class="indent-text">
      3.4. Мазкур шартнома шартларида кўзда тутилмаган ҳолатларда тарафлар Ўзбекистон Республикасининг “Хўжалик юритувчи субъеклар фаолиятининг шартномавий ҳуқуқий базаси тўғрисида”ги Қонунига мувофиқ иш юритадилар.
    </div>
    <h3 class="text-center">
      4. Форс-мажор
    </h3>
    <div class="indent-text">
      4.1. Сув тошқишини, зилзила ва бошқа табиий ҳодисалар, шунингдек, ҳарбий ҳаракатлар, қамал ҳолати ва давлат органларининг ҳужжатлари ёки ҳатти ҳаракатлари, ёки томонларнинг назоратидан ташқари бўлган бошқа вазиятлар шартнома тузилганидан кейин юзага келганлиги мазкур шартнома шартлари бажарилишига тўсқинлик қилса, томонлар ушбу шартнома юзасидан жавобгар ҳисобланмайдилар.
    </div>

    <h3 class="text-center">5. Низоларни ҳал этиш тартиби</h3>

    <div class="indent-text">
      5.1. Келишмовчиликлар ва низоли масалалар келиб чиққан тақдирда, томонлар, қоидаги кўрса мустақил равишда уларни судгача ҳал этиш чораларини кўрадилар.
    </div>

    <div class="indent-text">
      5.2. Томонлар келишмовчиликлар ва низоларни ҳал этиш учун Ўзбекистон Республикасининг амалдаги қоунунчилик меъёрларига кўра бевосита судга мурожаат қилишга ҳақлидир.
    </div>

    <h3 class="text-center">6. Алоҳида қоидалар</h3>

    <div class="indent-text">
      6.1. Мазкур шартномага асосан “Буюртмачи” томонидан бериладиган реклама (пост, видео, матн ва расм кўринишидаги) маҳсулотлари “Ижрочи” томонидан амалдаги тартиб-қоидалари ва икки томоннинг келишуви асосида жойлаштирилади.
    </div>

    <h3 class="text-center">7. Қўшимча шартлар</h3>

    <div class="indent-text">
      7.1. Мазкур шартнома “Буюртмачи” томонидан тўлов амалга оширилган вақтдан кучга киради ва реклама маҳсулоти реклама воситаларига жойлаштирилгунга қадар амал қилади..
    </div>

    <div class="indent-text">
      7.2. Шартнома юридик кучга эга бўлиб электрон шаклда тузилди.
    </div>

    <div class="indent-text">
      7.3.Агар “Буюртмачи” шартномада белгиланган тўловни амалга оширмаса, томонлар ўртасида тузилган шартнома 3 кун ичида ўз кучини йўқотган ҳисобланади.
    </div>

    <h3 class="text-center">8.Томонларнинг манзиллари ва реквизитлари</h3>
<div class='table-wrap'>
  <table class="GeneratedTable">
    <thead>
    <tr>
      <th>“Буюртмачи”</th>
      <th>“Ижрочи”</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Ф.И.О: <b>{{customer.fullName}}</b></td>
      <td>"INOYATOV HR SERVICE"</td>
    </tr>
    <tr>
      <td>Паспорт маълумотлари: <b>{{customer.passportSN}}</b></td>
      <td>Масъулияти чекланган жамияти</td>
    </tr>
    <tr>
      <td>Яшаш манзили: <b>{{customer.address}}</b></td>
      <td>Манзили: Тошкент шаҳри, Мирзо Улуғбек тумани Ҳамид Олимжон майдони ғарбий томони</td>
    </tr>
    <tr>
      <td>Телефон рақами: <b>{{customer.phoneNumber}}</b></td>
      <td>СТИР (ИНН) 307807627</td>
    </tr>
    <tr>
      <td>Паспорти ким томонидан ва қачон берилган: <b>{{customer.passWhoGive}}</b></td>
      <td>Банк маълумотлари:</td>
    </tr>
    <tr>
      <td></td>
      <td>"Ўзсаноатқурилишбанк" АТБ ТШМФ</td>
    </tr>
    <tr>
      <td></td>
      <td>БММ (МФО) 00424</td>
    </tr>
    <tr>
      <td></td>
      <td>Ҳ/Р: 20208000805289722001</td>
    </tr>
    <tr>
      <td></td>
      <td>Директор________________М.Иноятов</td>
    </tr>
    </tbody>
  </table>
</div>

  </div>
  <v-card-actions class='justify-end mt-5'>
    <v-btn
      @click="closeAgreement"
      color='primary'
      outlined
      text
    >
      Tasdiqlayman
    </v-btn>
  </v-card-actions>
</v-card>
</div>
  </v-dialog>
</template>

<script>
export default {
  name: 'IndividualAgreement',
  props: {
    dialog:{
      type: Boolean,
      default: false
    },
    selectedAdvForms:{
      type: Array,
      required: true
    },
    customer:{
      type: Object,
      required: true
    },
    totalPrice:{
      type: Number,
      default: 0
    },
    contractNumber:{
      type: Number,
      default: 0
    }
  },
  methods:{
    closeAgreement(){
      this.$emit("closeDialog")
    }
  }
}
</script>

<style scoped>
.indent-text{
  margin: 0;
  text-indent: 5ch;
}
.agreement-card{
  overflow-x: auto;
}
.agreement-wrap{
  width: 210mm;
  min-height: 297mm;
  margin: auto;
  border: 1px solid black;
  padding: 10mm;
  border-radius: 0 !important;
}
.table-wrap{
  overflow-x: auto;
  width: 100%;
}
table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #ffffff;
}
</style>
