<template>
  <div>
    <v-snackbar
      :timeout="3000"
      top
      right
      v-model="snackbar"
      class="notification"
      :color="errorSave ? 'red' : 'success'"
    >
      <div class="action d-flex justify-space-between">
        {{$t(`common.${errorSave ? "error_save":"successfully_saved"}`)}}
        <v-btn
          text
          icon
          @click="snackbar = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
    </v-snackbar>
    <v-overlay :value="loading">
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </v-overlay>
    <section id="home" />
    <div class="main-wrap">
      <main-header invert />
      <div class="container-wrap">
        <section class="space-top space-bottom">
          <v-container class="max-md">
            <h3 class="use-text-title pb-3 text-center">
              {{ $t('common.outsourcing_title') }}
            </h3>
            <p class="desc use-text-subtitle2 text-center">
              {{ $t('common.outsourcing_subtitle') }}
            </p>
            <p class="desc use-text-subtitle2 text-center">
              {{ $t('common.outsourcing_material') }}:
              <a :href="`${publicPath}/template.docx`" download="template.docx">
                template.docx
              </a>
            </p>
            <div>
              <v-form
                ref="form"
                v-model="valid"
              >
                <v-row class="spacing6">
                  <v-col cols="12" class="pa-6">
                    <v-col cols="12" class="pa-3">
                      <v-text-field
                        v-model="form.name"
                        :rules="nameRules"
                        :label="$t('common.full_name')"
                        class="input"
                        required
                      />
                    </v-col>
                    <v-col cols="12" class="pa-3">
                      <v-text-field
                        v-model="form.companyName"
                        :label="$t('common.company')"
                        class="input"
                      />
                    </v-col>
                    <v-col cols="12" class="pa-3">
                      <v-text-field
                        v-model="form.phone"
                        :rules="nameRules"
                        :label="$t('common.phone_number')"
                        class="input"
                        required
                      />
                    </v-col>
                    <v-col cols="12" class="pa-3">
                      <v-file-input
                        chips
                        accept=".doc, .docx"
                        :label="$t('common.file')"
                        required
                        v-model='form.file'
                        :rules="nameRules"
                      ></v-file-input>
                    </v-col><v-col cols="12" class="pa-3">
                    <v-textarea
                      name="input-7-1"
                      :label="$t('common.note')"
                      v-model='form.note'
                      :hint="$t('common.hintForNote')"
                    ></v-textarea>
                    </v-col>
                  </v-col>
                </v-row>
                <v-btn
                  color="primary"
                  outlined
                  @click="validateForm"
                >
                  {{$t('common.send')}}
                  <v-icon class="right-icon">
                    mdi-send
                  </v-icon>
                </v-btn>
              </v-form>
            </div>
          </v-container>
        </section>
      </div>
      <section class="spaceTop">
        <main-footer />
      </section>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import '~/assets/styles';
@import '~/components/Forms/form-style.scss';

@function section-margin($margin) {
  @return $margin * 20;
}
.main-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  @include palette-text-primary;
  .theme--dark & {
    background-color: $dark-background-default;
  }
  .theme--light & {
    background-color: $light-background-paper;
  }
}
.space-bottom {
  margin-bottom: section-margin($spacing1);
}
.space-top {
  margin-top: 8px;
}
.container-wrap {
  margin-top: $spacing10;
  padding: $spacing4;
  > section {
    position: relative;
  }
}
</style>

<script>
import Header from '~/components/Header'
import Footer from '~/components/Footer'
import Notification from '~/components/Notification'
import brand from '~/static/text/brand'

export default {
  components: {
    'main-header': Header,
    Notification,
    'main-footer': Footer
  },
  head() {
    return {
      title: brand.agency.name + ' - Outsourcing'
    }
  },
  data(){
    return{
      loading: false,
      valid: true,
      publicPath: process.env.NUXT_ENV_PUBLIC_URL,
      nameRules: [v => !!v || this.$t('common.field_required')],
      form:{
        name: null,
        companyName: null,
        phone: null,
        file: null,
        note: null
      },
      snackbar: false,
      errorSave: false,
    }
  },
  methods:{
    validateForm() {
      if (this.$refs.form.validate()) {
        console.log(this.form)
        this.save();
      }
    },
    async save(){
      this.loading = true;
      console.log(this.form);
      let formData = new FormData();
      formData.append("name", this.form.name);
      formData.append("companyName", this.form.companyName);
      formData.append("phone", this.form.phone);
      formData.append("file", this.form.file);
      const response = await this.$axios.$post(`${process.env.NUXT_ENV_BASE_API_URL}outsourcing`, formData).catch(err=>{
        console.log(err);
        this.errorSave = true;
        this.snackbar = true;
      }).finally(()=>{
        this.loading = false;
      });
      console.log("response", response);
      if (response){
        this.errorSave = false;
        this.snackbar = true;
        this.form = {
          name: null,
          companyName: null,
          phone: null,
          file: null
        }
      }
    }
  }
}
</script>
