<template>
  <div>
    <section id="home" />
    <div class="main-wrap">
      <main-header invert />
      <div class="container-wrap">
        <section class="space-top space-bottom">
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:center;'><strong><span style='font-size:19px;line-height:115%;font-family:"Times New Roman",serif;'>Uchamiz.uz Reklama agentligi web-sayti xizmatlaridan foydalanish shartlari</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:center;'><strong><span style='font-size:19px;line-height:115%;font-family:"Times New Roman",serif;'>&nbsp;</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;text-align:right;'><strong><span style='font-size:19px;line-height:115%;font-family:"Times New Roman",serif;'>Kuchga kirish sanasi: 2021 yil iyul.</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;'><strong><span style='font-size:19px;line-height:115%;font-family:"Times New Roman",serif;'>&nbsp;</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:center;'><strong><span style="font-size:19px;line-height:115%;">I.&nbsp;UMUMIY QOIDALAR</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:center;'><strong><span style="font-size:19px;line-height:115%;">&nbsp;</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">1.1.&nbsp;&ldquo;Inoyatov HR Service&rdquo; kompaniyasiga tegishli ushbu saytning foydalanish shartlari veb-saytga kirish va navigatsiya shartlarini tartibga soladi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">Ushbu veb-saytga kirish va undan foydalanish ixtiyoriy va pullik bo&lsquo;lib, unga kirgan, navigatsiya qilgan yoki undan foydalangan har bir kishiga (bundan buyon matnda &ldquo;Foydalanuvchi&quot;, &quot;Siz&quot;) bevosita &ldquo;Foydalanuvchi&rdquo; maqomini beradi. Bunday maqom ushbu &ldquo;Foydalanish&rdquo; shartlarini to&lsquo;liq qabul qilishni anglatadi. Shuning uchun ushbu veb-saytdan foydalanishdan oldin quyidagi &ldquo;Foydalanish&rdquo; shartlarini diqqat bilan o&lsquo;qib chiqishingizni tavsiya qilamiz. Agar siz ular bilan bog&lsquo;lanishga rozi bo&lsquo;lmasangiz, iltimos, ushbu veb-saytga kirishni yoki undan foydalanishni davom ettirmang.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">1.2.&nbsp;Ushbu &ldquo;Foydalanish&rdquo; shartlari har qanday vaqtda va foydalanuvchiga oldindan ogohlantirmasdan amaldagi qonunlar va qoidalarga rioya qilish uchun tadbirkorlik faoliyati masalalariga muvofiq veb-saytimizning professional hujjatlari yoki funksiyalaridagi o&lsquo;zgarishlar tufayli yangilanishi mumkin.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">1.3.&nbsp;Yangi foydalanish shartlari veb-saytda nashr etilishi bilanoq amal qiladi. Shuning uchun foydalanuvchi amaldagi &ldquo;Foydalanish&rdquo; shartlarini vaqti-vaqti bilan ko&lsquo;rib chiqishi uning mas&apos;uliyati ekanligini tan oladi va qabul qiladi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">1.4.&nbsp;Foydalanuvchi amaldagi barcha qonunlar va qoidalarga rioya qilgan holda hamda ushbu &ldquo;Foydalanish&rdquo; shartlariga muvofiq ravishda ushbu veb-saytdan foydalanishni va harakatlanishni qabul qiladi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">1.5.&nbsp;Agar ushbu &ldquo;Foydalanish&rdquo; shartlarining biron bir qismi yoki bandi sud qaroriga binoan bekor bo&lsquo;lsa, qolgan qoidalar o&lsquo;z kuchini yo&lsquo;qotmaydi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;background:white;">&nbsp;</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:center;text-indent:1.0cm;'><strong><span style="font-size:19px;line-height:115%;color:black;background:white;">II.&nbsp;AXBOROT VA VEB-SAYT XIZMATLARI</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:center;text-indent:1.0cm;'><strong><span style="font-size:19px;line-height:115%;background:white;">&nbsp;</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">2.1.&nbsp;Ushbu veb-saytdan faqat huquqiy layoqati bo&lsquo;lgan shaxslar foydalanishi mumkin. Agar-da siz ushbu talablarga mamlakatingizning amaldagi qonunlari va qoidalariga muvofiq javob bera olmasangiz, iltimos, ushbu veb-saytga kirmang yoki undan foydalanmang. Shu sabab kompaniya ushbu talablarga rioya qilmaydigan foydalanuvchilarga oldindan ogohlantirmasdan mazkur veb-saytga kirishni ta&lsquo;qiqlash huquqini o&lsquo;zida saqlab qoladi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">2.2.&nbsp;Ushbu veb-sayt o&lsquo;z foydalanuvchilariga reklama vositalari orqali o&lsquo;z reklamalarini e&rsquo;lon qilish, reklama vositalarini autsorsing oqali (aynan kelishilgan holda reklama maxsulotlarini ma&rsquo;lum bir haq evaziga reklama vositalariga joylashtirish) faoliyatini yo&lsquo;lga qo&lsquo;yish kabi xizmatlardan foydalanish imkoniyatini taklif qiladi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">2.3. Iltimos, shuni yodda tutingki, veb-sayt reklama beruvchilarning reklama mahsulotlarini sifati, to&lsquo;g&lsquo;ri to&rsquo;ldirilishi, ishonchliligi, yaxlitligini nazorat qilmaydi va uni tahrirdan o&lsquo;tkazishni zimmasiga olmaydi.&nbsp;</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">2.4.&nbsp;Reklama mahsulotlari reklama vositalarini joylashtiruvchi subyektlarning ichki tartib-qoiadalariga asosan tahrir qilingan holda joylashtilishi mumkin.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;background:white;">&nbsp;</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:center;text-indent:1.0cm;'><strong><span style="font-size:19px;line-height:115%;color:black;background:white;">III.&nbsp;FOYDALANISH JARAYONIDAGI O&lsquo;ZINI TUTISH QOIDALARI</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:center;text-indent:1.0cm;'><strong><span style="font-size:19px;line-height:115%;background:white;">&nbsp;</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">3.1.&nbsp;Foydalanuvchi ushbu veb-saytdan va uning tarkibidan ushbu &ldquo;Foydalanish&rdquo; shartlariga, amaldagi qonunlar va qoidalarga, odob-axloq qoidalariga va jamoat tartibiga doimo mos ravishda foydalanishi kerak. Xususan, cheklovlarsiz foydalanuvchi quyidagilarni amalga oshirmaydi:</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">-&nbsp;agar talab qilingan yoshga to&lsquo;lmagan bo&lsquo;lsangiz va mamlakatingizning amaldagi qonunlari va qoidalariga muvofiq shartnoma tuzish uchun huquqiy imkoniyatga ega bo&lsquo;lsangiz, taklif qilingan professional hujjatlarni tayyorlang.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">-&nbsp;veb-saytimiz tarkibidan noo&lsquo;rin yoki noqonuniy foydalanish va / yoki undan noqonuniy faoliyat bilan shug&lsquo;ullanish yoki kompaniya va / yoki uchinchi shaxslarning manfaatlari yoki huquqlariga zarar yetkazuvchi harakatlar bilan shug&lsquo;ullanish uchun foydalanish.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">-&nbsp;ushbu veb-saytning boshqa foydalanuvchisidan foydalanish va bahramand bo&lsquo;lishni cheklash yoki oldini olish;</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">-&nbsp;kompaniyaning intellektual mulk huquqlarini buzish, shu jumladan, ulardan foydalanish, nusxalash, tarqatish, o&lsquo;zgartirish, hosila asarlarini yaratish, o&lsquo;tkazish (sotish, qayta sotish, litsenziya, sublitsenziya, yuklab olish yoki boshqa yo&lsquo;llar), ko&lsquo;paytirish, tarqatish, namoyish qilishni o&lsquo;z ichiga oladi. Kompaniyaning oldindan yozma ruxsatisiz, tijorat yoki boshqa maqsadlarda ushbu veb-saytni va / yoki ushbu veb-saytning biron bir qismidagi tarkibni oshkor qilish;</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">-&nbsp;ushbu veb-saytga kirish yoki undan foydalanish bilan bog&lsquo;liq ravishda uchinchi tomonlarning intellektual mulk huquqlarini buzish;</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">-&nbsp;veb-saytning xavfsizlik bilan bog&lsquo;liq xususiyatlariga yoki har qanday kontentdan foydalanishni yoki nusxa ko&lsquo;chirishning oldini olish yoki cheklashni cheklaydigan xususiyatlarga to&lsquo;sqinlik qilish, o&lsquo;chirish yoki boshqacha tarzda aralashish;</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">-</span> <span style="font-size:19px;line-height:115%;color:black;background:white;">har qanday foydalanuvchiga ushbu veb-saytdan foydalanishni kamaytirishi, zarar yetkazishi, bezovta qilishi yoki unga to&lsquo;sqinlik qilishi va / yoki Kompaniyaga yoki boshqa foydalanuvchilarga tegishli uskunalarga zarar yetkazishi yoki zarar yetkazishi mumkin bo&lsquo;lgan ma&lsquo;lumotlar, kodlar yoki tarkibni yuborish yoki tarqatish. &nbsp;Bunga zararli dasturlar, viruslar, mantiqiy usullar va boshqalar kiradi, lekin ular &nbsp;bu bilan cheklanmaydi;</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">-&nbsp;Biz ushbu veb-saytning sifati, xavfsizligi va mavjudligini ta&lsquo;minlash, shuningdek, qonuniy manfaatlarimizni saqlab qolish uchun tegishli deb bilgan barcha qonuniy harakatlarni amalga oshirish maqsadida yuqorida ko&lsquo;rsatilgan majburiyatlarni bajarmagan foydalanuvchilarni istalgan vaqtda va oldindan ogohlantirmasdan taqiqlash va / yoki to&lsquo;xtatib qo&lsquo;yish huquqini o&lsquo;zimizda saqlab qolamiz.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;background:white;">&nbsp;</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:center;'><strong><span style="font-size:19px;line-height:115%;color:black;background:white;">IV.&nbsp;KAFOLATLAR VA JAVOBGARLIKNI CHEKLASH</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:center;'><strong><span style="font-size:19px;line-height:115%;background:white;">&nbsp;</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">4.1.<strong>&nbsp;</strong>Ushbu veb-saytdan foydalanish foydalanuvchini o&lsquo;zining javobgarligi va xavfi ostida. Kompaniya veb-sayt mavjudligini va foydalanuvchining xavfsiz navigatsiyasini ta&lsquo;minlash uchun barcha imkoniyatlarni ishga soladi. Biroq, ushbu veb-saytga kirish texnik vazifalar va/yoki u orqali taqdim etilgan kontent va/yoki professional hujjatlarning yangilanishlarini yuklash orqali to&lsquo;xtatilishi mumkin. Shuningdek, biz o&lsquo;zimizga bog&lsquo;liq bo&lsquo;lmagan sabablarga ko&lsquo;ra veb-saytni uzilishlarsiz, kechikishlarsiz, xatolarsiz yoki kamchiliklarsiz, shuningdek o&lsquo;zimizga bog&lsquo;liq bo&lsquo;lmagan noqonuniy aralashish orqali uchinchi shaxslar tomonidan yetkazilishi mumkin bo&lsquo;lgan zararlarni qoplash bilan bog&lsquo;liq ishlarga kafolat bera olmaymiz.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">4.2. Oldingilariga qaramay, kompaniya taqdim etayotgan xizmatlar iloji boricha aniqroq bo&lsquo;lishi va veb-saytda taqdim etilgan tarkib va ma&lsquo;lumotlardagi xatolarga yo&lsquo;l qo&lsquo;ymaslik uchun barcha imkoniyatlarini ishga soladi. Agar biron bir noaniqlikni aniqlasangiz, iltimos, mijozlarga xizmat ko&lsquo;rsatish guruhiga&nbsp;</span><a href="mailto:info@uchamiz.uz"><strong><span style="font-size:19px;line-height:115%;color:black;background:yellow;">info@uchamiz.uz</span></strong></a><strong><span style="font-size:19px;line-height:115%;color:black;background:white;">&nbsp;</span></strong><span style="font-size:19px;line-height:115%;color:black;background:white;">elektron pochta orqali yoki bizning aloqa manzillarimiz orqali xabardor qilishingizni so&lsquo;raymiz.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">4.3.&nbsp;Agar ushbu veb-saytning mazmuni va ma&lsquo;lumotlari foydalanuvchi yoki uchinchi shaxs tomonidan noqonuniy maqsadlarda va / yoki uchinchi shaxslarga yoki kompaniyaning obro&lsquo;siga zarar yetkazish uchun ishlatilsa na kompaniya, na uning sheriklari, yetkazib beruvchilar, xodimlar yoki vakillar veb-saytdagi har qanday xato yoki kamchilik uchun javobgar bo&lsquo;lmaydi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">4.4.<strong>&nbsp;</strong>Bundan tashqari, kompaniya veb-saytda&nbsp;</span><span style="font-size:19px;line-height:115%;color:black;background:white;">reklama beruvchilar</span><span style="font-size:19px;line-height:115%;color:black;background:white;">&nbsp;tomonidan e&apos;lon qilingan&nbsp;</span><span style="font-size:19px;line-height:115%;color:black;background:white;">reklama</span><span style="font-size:19px;line-height:115%;color:black;background:white;">lar uchun, shuningdek&nbsp;</span><span style="font-size:19px;line-height:115%;color:black;background:white;">reklama beruvchilar va reklama vositalari egalari&nbsp;</span><span style="font-size:19px;line-height:115%;color:black;background:white;">o&lsquo;rtasidagi har qanday munosabatlar yoki ma&lsquo;lumotlar almashinuvi uchun javobgar bo&lsquo;lmaydi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">4.5.<strong>&nbsp;</strong>Xuddi shu tarzda, kompaniya o&lsquo;z veb-saytiga foydalanuvchilar tomonidan belgilangan yoshga to&lsquo;lmagan yoshdagi foydalanuvchilar tomonidan o&lsquo;z mamlakatlarining amaldagi qonunlari va qoidalariga muvofiq kirishi uchun hech qanday javobgarlikni o&lsquo;z zimmasiga olmaydi, bunda ularning ota-onalari va / yoki qonuniy vakillari ustidan yetarli nazoratni amalga oshirish majburiyati mavjud.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">4.6.&nbsp;Kompaniya foydalanuvchi tomonidan ushbu &ldquo;Foydalanish&rdquo; shartlarini buzganligi sababli kelib chiqishi mumkin bo&lsquo;lgan har qanday javobgarlikdan ozod qilinadi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><strong><span style="font-size:19px;line-height:115%;background:white;">&nbsp;</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:center;text-indent:1.0cm;'><strong><span style="font-size:19px;line-height:115%;color:black;background:white;">V.&nbsp;INTELLEKTUAL MULK HUQUQLARI</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:center;text-indent:1.0cm;'><strong><span style="font-size:19px;line-height:115%;background:white;">&nbsp;</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">5.1.&nbsp;www.</span><span style="font-size:19px;line-height:115%;color:black;background:white;">uchamiz</span><span style="font-size:19px;line-height:115%;color:black;background:white;">.uz - bu kompaniya tomonidan ro&lsquo;yxatdan o&lsquo;tgan domen. Shuning uchun uni uchinchi tomonlar ushbu veb-saytda taqdim etilgan professional hujjatlardan tashqari boshqa mahsulotlar va / yoki xizmatlar bilan bog&lsquo;liq ravishda bizning foydalanuvchilarimiz o&lsquo;rtasida chalkashliklarni keltirib chiqaradigan va / yoki kompaniyaning obro&lsquo;sizlanishiga olib keladigan har qanday usulda ishlatishlari mumkin emas.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">5.2.<strong>&nbsp;</strong>Ushbu veb-saytda joylashgan elementlarning barchasi: matnlar, maqolalar, tavsiflar, rasmlar, grafikalar, tovushlar, videolar, brendlar, logotiplar, interaktiv xususiyatlar yoki boshqa har qanday element, uning tuzilishi va dizayni, tarkibni tanlash va taqdim etish va unga kiritilgan elementlar yoki boshqa har qanday element va uning ishlashi, kirish va foydalanish uchun zarur bo&lsquo;lgan dasturiy ta&lsquo;minot Kompaniyaning mulki hisoblanadi. Ushbu veb-saytning barcha elementlari foydalanuvchi va / yoki mijoz tomonidan hurmat qilinishi kerak bo&lsquo;lgan intellektual mulk huquqlari bilan himoyalangan.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">5.3.<strong>&nbsp;</strong>Kompaniyaning yozma roziligisiz ushbu veb-saytning ximoya qilingan elementlarini ko&lsquo;paytirish, nusxalash, tarqatish, o&lsquo;zgartirish yoki umuman, tijorat maqsadlarida yoki bo&lsquo;lmagan holda har qanday foydalanish taqiqlangan.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">5.4.<strong>&nbsp;</strong>Ushbu veb-saytga kirish va undan foydalanish har qanday sharoitda kompaniyaning intellektual mulk huquqini foydalanuvchi va / yoki mijozga topshirmaydi va litsenziya yoki ruxsat bermaydi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">5.5.<strong>&nbsp;</strong>Bundan tashqari, kompaniya ushbu foydalanish shartlari bo&lsquo;yicha aniq ko&lsquo;rsatilmagan va hozirgi kunda amaldagi qonun va qoidalarga muvofiq bizga mos keladigan barcha intellektual mulk huquqlarini saqlab qoladi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">5.6.<strong>&nbsp;</strong>Kompaniya intellektual mulk huquqlarini buzadigan foydalanuvchilarga nisbatan qonuniy harakatlarni amalga oshirish huquqini o&lsquo;zida saqlab qoladi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;background:white;">&nbsp;</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:center;text-indent:1.0cm;'><strong><span style="font-size:19px;line-height:115%;color:black;background:white;">VI.&nbsp;MAXFIYLIK</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:center;text-indent:1.0cm;'><strong><span style="font-size:19px;line-height:115%;background:white;">&nbsp;</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">6.1.&nbsp;Kompaniya foydalanuvchilar va mijozlarning maxfiyligiga qat&apos;iy amal qiladi. Siz bizga taqdim etadigan shaxsiy ma&lsquo;lumotlar, boshqalar qatori, qayd yozuvini yaratish va sizni qiziqtiradigan professional hujjatni to&lsquo;ldirish uchun zarurdir. Ushbu veb-saytning navigatsiyasi va / yoki ishlatilishidan olingan ma&lsquo;lumotlarga qo&lsquo;shimcha ravishda qayta ishlanadi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">6.2.<strong>&nbsp;</strong>Kompaniya qayta ishlangan shaxsiy ma&lsquo;lumotlarning maxfiyligi, yaxlitligi, mavjudligi va xavfsizligini kafolatlash uchun tegishli texnik va tashkiliy choralarni ko&lsquo;radi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;background:white;">&nbsp;</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:center;text-indent:1.0cm;'><strong><span style="font-size:19px;line-height:115%;color:black;background:white;">VII.&nbsp;NIZOLARNI HAL QILISH VA AMALDAGI QONUNLAR</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:center;text-indent:1.0cm;'><strong><span style="font-size:19px;line-height:115%;background:white;">&nbsp;</span></strong></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">7.1.<strong>&nbsp;</strong>Ushbu &ldquo;Foydalanish&rdquo; shartlari amaldagi O&lsquo;zbekiston Respublikasi qonunchiligiga muvofiq tartibga solinadi va sharhlanadi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">7.2.&nbsp;Mijoz va Kompaniya o&lsquo;rtasida ushbu &ldquo;Foydalanish&rdquo; shartlaridan kelib chiqadigan tortishuvlar yoki kelishmovchiliklar yuzaga kelgan taqdirda, ikkala tomon ham o&lsquo;zlarining shikoyatlarini tegishli tartibda vakolatli sud organlariga berish orqali hal qilishi mumkin.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">7.3.&nbsp;Ushbu &ldquo;Foydalanish&rdquo; shartlarining har qanday qoidalarining to&lsquo;liq yoki qisman bekor qilinishi boshqa qoidalarning haqiqiyligiga ta&lsquo;sir qilmaydi.</span></p>
          <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:10.0pt;line-height:115%;margin:0cm;text-align:justify;text-indent:1.0cm;'><span style="font-size:19px;line-height:115%;color:black;background:white;">7.4. Kompaniyaning ushbu &ldquo;Foydalanish&rdquo; shartlaridan kelib chiqadigan yoki ulardan kelib chiqadigan har qanday huquqni amalga oshirmasligi, hech qanday sharoitda, ushbu huquqdan voz kechish sifatida talqin qilinmaydi.</span></p>
        </section>
      </div>
      <section class="spaceTop">
        <main-footer />
      </section>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import '~/assets/styles';

@function section-margin($margin) {
  @return $margin * 20;
}
.main-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  @include palette-text-primary;
  .theme--dark & {
    background-color: $dark-background-default;
  }
  .theme--light & {
    background-color: $light-background-paper;
  }
}
.space-bottom {
  margin-bottom: section-margin($spacing1);
}
.space-top {
  margin-top: section-margin($spacing1);
}
.container-wrap {
  margin-top: $spacing10;
  padding: $spacing4;
  > section {
    position: relative;
  }
}
</style>

<script>
import Header from '~/components/Header'
import Footer from '~/components/Footer'
import Notification from '~/components/Notification'
import brand from '~/static/text/brand'

export default {
  components: {
    'main-header': Header,
    Notification,
    'main-footer': Footer
  },
  head() {
    return {
      title: brand.agency.name + ' - Blank Page'
    }
  }
}
</script>
