<template>
  <div class="form-wrap">
    <v-overlay :value="loading">
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </v-overlay>
    <v-snackbar
      :timeout="3000"
      top
      right
      v-model="snackbar"
      class="notification"
      color="red"
    >
      <div class="action d-flex justify-space-between">
        {{$t(`common.${errorSave ? "error_save":"error_load"}`)}}
        <v-btn
          text
          icon
          @click="snackbar = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
    </v-snackbar>
    <hidden point="mdUp">
      <div class="logo logo-header">
        <nuxt-link :to="routeLink.agency.home">
          <img :src="logo" alt="logo">
        </nuxt-link>
      </div>
    </hidden>
    <hidden point="smDown">
      <v-btn
        :href="routeLink.agency.home"
        icon
        class="backtohome"
      >
        <i class="ion-ios-home-outline" />
        <i class="ion-ios-arrow-thin-left" />
      </v-btn>
    </hidden>
    <v-container class="max-md">
      <h3 class="use-text-title pb-3 text-center">
        {{ $t('common.contact_title') }}
      </h3>
      <p class="desc use-text-subtitle2 text-center">
        {{ $t('common.contact_subtitle') }}
      </p>
      <v-stepper v-model="e1">
        <v-stepper-header>
          <v-stepper-step
            :complete="e1 > 1"
            step="1"
          >
            {{$t('common.where_place_add')}}
          </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step
            :complete="e1 > 2"
            step="2"
          >
            {{$t('common.agreement')}}
          </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step step="3">
            {{$t('common.payment')}}
          </v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <div>
              <v-form
                ref="advForm"
                v-model="validAdvForm"
              >
              <v-row class="spacing6">
                <v-col cols="12" class="pa-6">
                  <v-select
                    :items="advTypes"
                    :label="$t('common.select_adv_type')"
                    item-text='name'
                    item-value='id'
                    v-model='selectedAdvType'
                    required
                    :rules="[v => !!v || $t('common.field_required')]"
                    @change='loadContracts'
                  ></v-select>
                </v-col>
                <v-col cols="12" class="pa-6">
                  <v-select
                    :items="contracts"
                    :label="$t('common.select_contract')"
                    item-text='name'
                    item-value='id'
                    required
                    :rules="[v => !!v || $t('common.field_required')]"
                    v-model='selectedContract'
                    @change='loadAdvForms'
                  ></v-select>
                  <div class='contract-note' v-if='!!currentContract'>{{currentContract.note}}</div>
                </v-col>

                <!--                <v-col cols="12" class="pa-6">-->
<!--                  <v-select-->
<!--                    :items="advForms"-->
<!--                    :label="$t('common.select_adv_form')"-->
<!--                    item-text='name'-->
<!--                    item-value='id'-->
<!--                    multiple-->
<!--                    chips-->
<!--                    clearable-->
<!--                    required-->
<!--                    :rules="[v => !!v || $t('common.field_required')]"-->
<!--                    v-model='advForm.advFormsId'-->
<!--                  ></v-select>-->
<!--                </v-col>-->
                <v-col cols="12" class="pa-6">
                <v-row>
                  <v-col md='6' sm='12' v-for='item in advForms' :key='item.id'>
                    <v-card
                      class="fill-height"
                      outlined
                      elevation="1"
                    >
                      <v-list-item three-line>
                        <v-list-item-content>
                          <div class="text--primary text-h6">
                            {{item.name}}
                          </div>
                          <v-list-item-title class="text-h5 mb-1">
                            {{item.price +" "+$t('common.soum')}}
                          </v-list-item-title>
                          <v-list-item-subtitle>{{item.description}}</v-list-item-subtitle>
                          <v-list-item-subtitle class='text--primary'>{{item.days + " " + $t(`common.${item.days === 1 ? "days" : "day"}`)}}</v-list-item-subtitle>
                        </v-list-item-content>

                      </v-list-item>

                      <v-card-actions>
                        <v-btn
                          v-if='advForm.advFormsId.includes(item.id)'
                          outlined
                          rounded
                          color='error'
                          text
                          small
                          @click.stop="()=>removeItem(item.id)"
                        >
                          {{$t('common.remove')}}
                        </v-btn>
                        <v-btn
                          v-else
                          outlined
                          rounded
                          color='primary'
                          text
                          small
                          @click.stop="()=>addItem(item.id)"
                        >
                          {{$t('common.add')}}
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-col>
                </v-row>
                </v-col>
              </v-row>
              <div class='price'><h2>{{$t('common.price')}}: {{computedPrice}} {{ $t('common.soum') }}</h2></div>
                <v-btn
                  color="primary"
                  outlined
                  @click="validateAdvForm"
                >
                  {{$t('common.continue')}}
                  <v-icon class="right-icon">
                    mdi-send
                  </v-icon>
                </v-btn>
              </v-form>
            </div>

          </v-stepper-content>

          <v-stepper-content step="2">
            <div class="form pa-4">
              <v-radio-group
                v-model="advForm.person"
                row
              >
                <v-radio
                  :label="$t('common.legal_entity')"
                  value="YUR"
                ></v-radio>
                <v-radio
                  :label="$t('common.individual')"
                  value="FIZ"
                ></v-radio>
              </v-radio-group>

              <v-form
                v-if="advForm.person === 'FIZ'"
                ref="individual_form"
                v-model="valid"
              >
                <v-row class="spacing6">
                  <v-col cols="12" class="pa-3">
                    <v-text-field
                      v-model="advForm.fullName"
                      :rules="nameRules"
                      :label="$t('common.full_name')"
                      class="input"
                      required
                    />
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <v-text-field
                      v-model="advForm.address"
                      :rules="nameRules"
                      :label="$t('common.address')"
                      class="input"
                      required
                    />
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <v-text-field
                      v-model="advForm.phoneNumber"
                      :rules="nameRules"
                      :label="$t('common.phone_number')"
                      class="input"
                      required
                    />
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <v-text-field
                      v-model="advForm.passportSN"
                      :rules="nameRules"
                      :label="$t('common.passport_serial_number')"
                      class="input"
                      required
                    />
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <v-text-field
                      v-model="advForm.passWhoGive"
                      :rules="nameRules"
                      :label="$t('common.passport_who_give')"
                      class="input"
                      required
                    />
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <v-menu
                      v-model="menu2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="advForm.fromDate"
                          :label="$t('common.advertisingDate')"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="advForm.fromDate"
                        @input="menu2 = false"
                        @change='changeDate'
                        locale="ru-Ru"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <v-textarea
                      name="input-7-1"
                      :label="$t('common.additionalRequirement')"
                      v-model='advForm.additionalRequirement'
                      :hint="$t('common.hintForAdditionalRequirement')"
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <div class="form-control-label">
                      <v-checkbox
                        @click='showIndividualDialog'
                        v-model="checkbox"
                        color="primary"
                        :rules="[v => !!v || $t('common.must_agree')]"
                        :label="$t('common.form_terms')"
                        required
                      />
                    </div>
                  </v-col>
                </v-row>
                <div class="btn-area">
                  <v-btn
                    outlined
                    @click="e1 = 1"
                  >
                    <v-icon>
                      mdi-chevron-left
                    </v-icon>

                    {{ $t('common.go_back') }}

                  </v-btn>
                  <v-btn
                    color="primary"
                    outlined
                    @click="validateIndividual"
                  >
                    {{ $t('common.continue') }}
                    <v-icon class="right-icon">
                      mdi-send
                    </v-icon>
                  </v-btn>
                </div>
              </v-form>

              <v-form
                v-if="advForm.person === 'YUR'"
                ref="legal_form"
                v-model="valid"
              >
                <v-row class="spacing6">
                  <v-col cols="12" class="pa-3">
                    <v-text-field
                      v-model="advForm.firmName"
                      :rules="nameRules"
                      :label="$t('common.firm_name')"
                      class="input"
                      required
                    />
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <v-text-field
                      v-model="advForm.directorFIO"
                      :rules="nameRules"
                      :label="$t('common.director_fio')"
                      class="input"
                      required
                    />
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <v-text-field
                      v-model="advForm.address"
                      :rules="nameRules"
                      :label="$t('common.firm_address')"
                      class="input"
                      required
                    />
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <v-text-field
                      v-model="advForm.phoneNumber"
                      :rules="nameRules"
                      :label="$t('common.phone_number')"
                      class="input"
                      required
                    />
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <v-text-field
                      v-model="advForm.inn"
                      :rules="nameRules"
                      :label="$t('common.inn')"
                      class="input"
                      required
                    />
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <v-text-field
                      v-model="advForm.bankInform"
                      :rules="nameRules"
                      :label="$t('common.bank_info')"
                      class="input"
                      required
                    />
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <v-text-field
                      v-model="advForm.mfo"
                      :rules="nameRules"
                      :label="$t('common.mfo')"
                      class="input"
                      required
                    />
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <v-menu
                      v-model="menu2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="advForm.fromDate"
                          :label="$t('common.advertisingDate')"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="advForm.fromDate"
                        @input="menu2 = false"
                        @change='changeDate'
                        locale="ru-Ru"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <v-textarea
                      name="input-7-1"
                      :label="$t('common.additionalRequirement')"
                      v-model='advForm.additionalRequirement'
                      :hint="$t('common.hintForAdditionalRequirement')"
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12" class="pa-3">
                    <div class="form-control-label">
                      <v-checkbox
                        @click="showLegalDialog"
                        v-model="checkbox"
                        color="primary"
                        :rules="[v => !!v || $t('common.must_agree')]"
                        :label="$t('common.form_terms')"
                        required
                      />
                    </div>
                  </v-col>
                </v-row>
                <div class="btn-area">
                  <v-btn
                    outlined
                    @click="e1 = 1"
                  >
                    <v-icon>
                      mdi-chevron-left
                    </v-icon>

                    {{ $t('common.go_back') }}

                  </v-btn>
                  <v-btn
                    color="primary"
                    outlined
                    @click="validateLegalForm"
                  >
                    {{ $t('common.continue') }}
                    <v-icon class="right-icon">
                      mdi-send
                    </v-icon>
                  </v-btn>
                </div>
              </v-form>
              <IndividualAgreement v-if="individualDialog" :dialog="individualDialog" @closeDialog="closeDialog" :selectedAdvForms="selectedAdvForms" :customer="advForm" :totalPrice="computedPrice" :contract-number='contractId'/>
              <LegalAgreement v-if="legalDialog" :dialog='legalDialog' @closeDialog="closeDialog" :selectedAdvForms="selectedAdvForms" :customer="advForm" :totalPrice="computedPrice" :contract-number='contractId'/>
            </div>
          </v-stepper-content>

          <v-stepper-content step="3">
            <div
              class="mb-1"
            >
              <v-icon class="success-icon">
                mdi-check-circle-outline
              </v-icon>
              <div class='success-text'>{{$t('common.success_text')}}</div>
              <div class='pa-6'>{{$t('common.payment_text')}}</div>
              <img :src="payme" alt="payme" class='payme-img ma-5'>
              <div class="pa-4">
                <p>{{$t('common.price')}}: <b>{{saveResponse ? saveResponse.cost : ""}} {{$t('common.soum')}}</b></p>
                <p>{{$t('common.order_id')}}: <b>{{saveResponse ? saveResponse.id : ""}}</b></p>
              </div>
              <div class='pa-10'>
                <v-btn outlined elevation="14" color="secondary" x-large rounded :href="saveResponse ? saveResponse.paymeUrl : ''" target='_blank' tag='a'>{{$t('common.pay_btn_text')}}</v-btn>
              </div>
            </div>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
@import './form-style.scss';
@import '../Title/title-style.scss';
</style>

<script>
import logo from '~/static/images/adv-logo.png'
import payme from '~/static/images/payme_01.png'
import brand from '~/static/text/brand'
import link from '~/static/text/link'
import Hidden from '../Hidden'
import IndividualAgreement from '@/components/Forms/adv/IndividualAgreement'
import LegalAgreement from '@/components/Forms/adv/LegalAgreement'

export default {
  components: {
    LegalAgreement,
    IndividualAgreement,
    Hidden
  },
  computed:{
    computedPrice(){
      let price = 0;
      this.advForms.forEach(item=>{
        if (this.advForm.advFormsId?.length && this.advForm.advFormsId.includes(item.id)){
          price = price + item.price;
        }
      })

      return price
    }
  },
  data() {
    return {
      contractId: null,
      loading: false,
      menu2: false,
      individualDialog: false,
      legalDialog: false,
      e1: 1,
      valid: true,
      validAdvForm: true,
      snackbar: false,
      errorSave: false,
      advTypes:[],
      selectedAdvType: null,
      contracts:[],
      selectedContract: null,
      currentContract: null,
      advForms:[],
      selectedAdvForms: [],
      nameRules: [v => !!v || this.$t('common.field_required')],
      checkbox: false,
      logo: logo,
      payme: payme,
      brand: brand,
      routeLink: link,
      advForm:{
        address: null,
        advFormsId: [],
        bankInform: null,
        directorFIO: null,
        firmName: null,
        fullName: null,
        inn: null,
        mfo: null,
        passWhoGive: null,
        passportSN: null,
        person: "FIZ",
        phoneNumber: null,
        fromDate: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
        additionalRequirement: null
      },
      saveResponse: null
    }
  },
  methods: {
    changeDate(){
      console.log(this.advForm.fromDate)
    },
    addItem(id){
      this.$set(this.advForm.advFormsId, this.advForm.advFormsId.length, id);
    },
    removeItem(id){
      this.advForm.advFormsId.splice( this.advForm.advFormsId.indexOf(id), 1);
    },
    closeDialog(){
      this.legalDialog = false;
      this.individualDialog = false;
      this.checkbox = true;
    },
    showLegalDialog(){
      this.selectedAdvForms = this.advForms.filter(item=>{
        if (this.advForm.advFormsId?.length && this.advForm.advFormsId.includes(item.id)){
          return item
        }
      })
      this.$nextTick(()=>{
        console.log(this.selectedAdvForms)
        this.legalDialog = true;
      })
    },
    showIndividualDialog(){
      this.selectedAdvForms = this.advForms.filter(item=>{
        if (this.advForm.advFormsId?.length && this.advForm.advFormsId.includes(item.id)){
          return item
        }
      })
      this.$nextTick(()=>{
        console.log("selected", this.selectedAdvForms)
        this.individualDialog = true;
      })
    },
    validateIndividual() {
      if (this.$refs.individual_form.validate()) {
        this.saveOrder();
      }
    },
    validateLegalForm() {
      if (this.$refs.legal_form.validate()) {
       this.saveOrder();
      }
    },

    async saveOrder(){
      this.loading = true;
      console.log(this.advForm);
      const response = await this.$axios.$post(`${process.env.NUXT_ENV_BASE_API_URL}order`, this.advForm).catch(err=>{
        console.log(err);
        this.errorSave = true;
        this.snackbar = true;
      }).finally(()=>{
        this.loading = false;
      });
      console.log("response", response);
      if (response){
        this.e1 = 3;
        this.saveResponse = response;
      }
    },

    validateAdvForm() {
      if (this.$refs.advForm.validate()) {
        this.e1 = 2
      }
    },
    async loadAdvTypes(){
      this.loading = true;
      this.advTypes = await this.$axios.$get(`${process.env.NUXT_ENV_BASE_API_URL}advertising-form`).catch(err=>{
        console.log(err);
        this.errorSave = false;
        this.snackbar = true;
      }).finally(()=>this.loading = false);
    },
    async getNextContract(){
      const response = await this.$axios.$get(`${process.env.NUXT_ENV_BASE_API_URL}order/next-contract-number`).catch(err=>{
        console.log(err);
        this.errorSave = false;
        this.snackbar = true;
      }).finally(()=>this.loading = false);
      if (response){
        this.contractId = response.id
      }
    },
    async loadContracts(){
      this.selectedContract = null;
      this.contracts = await this.$axios.$get(`${process.env.NUXT_ENV_BASE_API_URL}contract`,{
        params:{
          afId: this.selectedAdvType
        }
      }).catch(err=>{
        console.log(err);
        this.errorSave = false;
        this.snackbar = true;
      }).finally(()=>this.loading = false);
    },
    async getOneContract(){
      this.currentContract = await this.$axios.$get(`${process.env.NUXT_ENV_BASE_API_URL}contract/${this.selectedContract}`,).catch(err=>{
        console.log(err);
        this.errorSave = false;
        this.snackbar = true;
      }).finally(()=>this.loading = false);
    },
    async loadAdvForms(){
      await this.getOneContract();
      this.loading = true;
      this.advForm.advFormsId = [];
      this.advForms = await this.$axios.$get(`${process.env.NUXT_ENV_BASE_API_URL}adv-put-form/all`,{
        params:{
          id: this.selectedContract
        }
      }).catch(err=>{
        this.errorSave = false;
        this.snackbar = true;
        console.log(err);
      }).finally(()=>this.loading = false)
    }
  },
  mounted() {
    this.loadAdvTypes();
    this.getNextContract();
  }
}
</script>
